.body{
    background-color: lightgray;
}


.barra-superior {

    background-color: #333;
    color: #fff;
    padding: 5px 0;
    text-align: right;
    width: 100%;
    position: fixed; /* Fijar la barra en la parte superior */
    top: 0; /* Colocarla en la parte superior */
    z-index: 9999; /* Valor alto para que esté por encima de otros elementos */
}

    .boton-desplegable {
    position: relative;
    display: inline-block;
    margin-right: 20px; /* Espaciado entre el botón y otros elementos */
}

.boton-desplegable .automatizarButton {
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
}

.contenido-desplegable {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.boton-desplegable:hover .contenido-desplegable {
    display: block;
}

.contenido-desplegable a {
    color: #fff;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
}

.contenido-desplegable a:hover {
    background-color: #555;
}

/* Estilos para cuando se hace clic */
.boton-desplegable.active .contenido-desplegable {
    display: block;
}

        

    .news-image {
    width: 100%; /* Ajusta el ancho de la imagen según tus preferencias *5
    height: auto; /* Mantén la proporción original */
    border-radius: 5px; /* Agrega bordes redondeados */
    /*margin-right: 30px;  Espacio entre la imagen y el texto 
    margin-left: 40px*/
}


    .news-item {
        display: flex; /* Mostrar como fila */
        flex-wrap: wrap; /* Romper en múltiples líneas si es necesario */
        border-bottom: 1px solid #ddd;
        padding: 15px;
    }

   
    .news-title a {
    color: #000;
    text-decoration: none; /* Elimina la subrayado predeterminado de los enlaces */
    
}

    .news-content {
        flex: 1; /* Ocupar el espacio restante */
    }

    .news-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #000;
    margin-bottom: 5px;
}
.news-description img {
    display: block;  
    margin: 0 auto; /* Centrar la imagen horizontalmente */
}


    .news-description {
        flex: 1; /* Ocupar el espacio restante para la descripción */
        
    }

    h1 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold; /* Agregar estilo más elegante al título */
    margin-bottom: 10px;
    color: #000; /* Cambiar el color del título a negro */
}
h3 {
    font-family: Arial, sans-serif; /* Cambia la fuente según tus preferencias */
    font-size: 1rem; /* Tamaño pequeño de fuente */
    
    font-weight: normal; /* Puedes ajustar el peso de la fuente según tus preferencias */
    color: #333; /* Color del texto, puedes personalizarlo */
    
}

    p {
        margin: 5px 0;
        color: #777;
        font-size: 0.9rem;
    }



/* Añade estilos para la clase "header" que envuelve el botón y el título */
.header {
    display: flex;
    align-items: center; /* Alinear verticalmente */
}
.minimize-button {
    background-color: transparent;
    border: 0px solid #007BFF; /* Contorno azul */
    /*border-radius: 15px; /* Bordes redondeados */
    /*padding: 5px 5px; /* Espacio interno */
    cursor: pointer;
    margin-right: 1px; /* Espacio entre el botón y el título */
    display: flex;
    align-items: center;
}

.minimize-button span {
    font-size: 20px; /* Tamaño del icono */
    line-height: 1;
    transition: transform 0.3s ease-in-out;
    color: #0665ea; /* Cambiar el color del icono a azul */
}

.minimize-button.collapsed {
    background-color: transparent; /* Fondo transparente cuando se minimiza */
    border: 0px solid 1px solid #007BFF; /* Contorno azul cuando se minimiza */
}

.minimize-button.collapsed span {
    transform: rotate(90deg);
    font-weight: bold;
}


/* Estilo para el título */
.header h1 {
    margin-left: 3px; /* Agrega un espacio entre el botón y el título */
    font-size: 1.5rem;
    font-weight: bold;
    color: #000;
    margin-bottom: 0; /* Elimina el margen inferior del título */
}
/* Aplicar scroll suave a los contenedores de noticias */
.news-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    overflow-y: scroll; /* Habilitar la barra de desplazamiento vertical */
    scroll-behavior: smooth; /* Aplicar desplazamiento suave */
    max-width: 100%; /* Ajusta el ancho máximo al 100% */
    align-items: stretch;
    max-height: 50vh; /* Ajusta la altura máxima según tus necesidades */

}

/* Desactivar la barra de desplazamiento por defecto */
.news-container::-webkit-scrollbar {
    width: 0.1em;
}

.news-container::-webkit-scrollbar-thumb {
    background-color: #007BFF;
    border-radius: 10px;
}

.news-container::-webkit-scrollbar-track {
    background-color: #f5f5f5;
}

/* Establecer una altura máxima para el contenedor de noticias */
.news-container {



}
/* Estilo para el contenedor que envuelve la fecha y el icono */
.news-date-icon {
    display: flex; /* Utiliza flexbox para alinear los elementos en línea */
    align-items: center; /* Centra verticalmente los elementos */
}
/* Estilo para el texto pequeño */
.news-date {
    display: inline-block;
    color: gray; /* Color de texto gris para news-date */
    font-size: 14px; /* Tamaño de fuente más pequeño para la fecha */
}

/* Estilo para el icono */
.news-icon  {
    color: blue;
    margin-left: 5px;
    font-size: 20px; /* Tamaño de fuente para el icono */
}

/* Estilo para el botón cuadrado elegante */
.move-down-button , .move-up-button  {
    display: inline-block; /* Asegura que el botón no ocupe toda la línea */
    padding: 4px 10px; /* Ajusta el relleno (padding) según tus necesidades */
    background-color: rgb(47, 102, 252); /* Color de fondo azul para el botón */
    color: white; /* olor de texto blanco */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    text-align: center; /* Alinea el texto en el centro del botón */
    text-decoration: none; /* Quita el subrayado en el texto (enlace) */
    font-size: 16px; /* Tamaño de fuente del texto */
    cursor: pointer; /* Cambia el cursor al pasar por encima del botón */
    margin-left: 5px;
    transition: background-color 0.3s; /* Agrega una transición de color de fondo suave */
}

/* Cambia el color de fondo al pasar el cursor por encima */
.move-down-button:hover {
    background-color: darkblue; /* Cambia el color de fondo al pasar el cursor por encima */
}



/* Estilos para dispositivos móviles (ejemplo: ancho máximo de 600px) */
@media screen and (max-width: 600px) {
    .boton-desplegable .automatizarButton {
        /* Agrega los estilos que desees para dispositivos móviles */
        background-color: #333;
        color: #fff;
        border: 1px solid #fff;
        padding: 5px 10px;
        margin-right: 5px; /* Espacio entre el botón y el desplegable en dispositivos móviles */
        display: none;
    }

    .boton-desplegable:hover .contenido-desplegable {
        /* Agrega los estilos que desees para dispositivos móviles */
        display: none;
        position: relative; /* Cambia la posición a relativa para que se ajuste al botón */
    }

    .contenido-desplegable {
        /* Agrega los estilos que desees para dispositivos móviles */
        display: none;
        background-color: #333;
        min-width: auto; /* Ancho automático en dispositivos móviles */
        box-shadow: none; /* Elimina la sombra en dispositivos móviles */
        z-index: 1; /* Asegura que esté encima del botón en dispositivos móviles */
        position: absolute; /* Ajusta la posición absoluta para que se ajuste al botón */
    }
    #todasLasNoticiasColumn{
        display: grid;

    }

    .contenido-desplegable a {
        /* Agrega los estilos que desees para dispositivos móviles */
        color: #fff;
        padding: 5px 10px;
        text-decoration: none;
        display: block;
    }
    .news-column {
        display: none; 
    }
    #grid {
        display: none; 
    }
    #auto {
        display: none; 
    }
}



.fit {
    position: relative;
    padding: 5px;
    border: 1px solid black;
    border-radius: 10px 10px 10px 10px;
    line-height: 28px;
    font-size: 22px;
    margin-top: 5px!important;
    margin-right:5px;
    font-weight: bold;
    cursor: pointer;
    background-color: aliceblue;
    transition: all 0.3s ease-in;
    box-sizing: border-box;
    display:inline-block;
    min-width: 300px;


}

.scale-up {
    position:relative;
    transform: scale(1.1);
    opacity: 100%;
    z-index: 1;


}
.scale-down {
    position:relative;
    opacity: 50%;
    transform: scale(0.8);
    z-index: 0;

}


.parent {
    margin-left: 5%;
    margin-right:5%;
    width: auto;
}



.newFeed{
    transform: scale(1.1);
    background-color: firebrick;
}


.displayNone{
    display: none;
}
.newLabel{
    position: absolute;
    height: 40px;
    width: 40px;
    left:-12px;
    top: -12px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.5s ease-in;

}

.showMeNewLabel{
    opacity: 1;
}
.marginRow{
    margin-left: 10px!important;
    flex-direction: row!important;
}


.imgAl {
    width: 150px;
    height:150px;
    position:fixed;
    z-index: 2;
}